extends layouts/main
block title
  | Prohibited goods
block main
  .wrapper
    .content
        include includes/login-popup
        include includes/mmenu
        include includes/header

        .prohibited-goods
          .container
            .logo-bg
              img(src="images/dist/bg.webp", alt="")
            br
            br
            br
            br
            .title-wrap
              div
                .title 
                  span Запрещенные 
                  | товары
                br
                .subtitle Список всех запрещенных к перевозке товаров. <br> 
                  | Перед тем как отправлять посылку, внимательно <br>
                  | ознакомьтесь со списком!
            br
            br
            br
            br
            .title-wrap
              .title Причины
              a.btn(href="#") Уточнить в поддержке 
            br
            br
            .subtitle Мы можем доставить почти все: документы, подарки, технику, одежду и даже продукты. Но есть грузы, которые мы не можем принять. Одни — потому что их доставка запрещена законом. Другие — потому что они могут испортить посылки .Ниже список грузов, которые Alay Express не примет на доставку. Если отправляете что-то нестандартное и сомневаетесь, пишите к нам в поддержку на сайте. Мы проконсультируем и дадим однозначный ответ.


            ul.prohibited-goods__list 
              mixin prohibited(title,id)
                li 
                  a(href="#"+id data-scroll).typical-block=title 
              +prohibited('Взрывчатые вещества или средства взрывания','explosive')
              +prohibited('Сжатые, сжиженные и растворенные под давлением газы','compressed')
              +prohibited('Легковоспламеняющиеся жидкости','flammableliquids')
              +prohibited('Легковоспламеняющиеся твердые вещества','flammablesolids')
              +prohibited('Окисляющие вещества','oxidizing')
              +prohibited('Токсичные и инфекционные вещества','toxic')
              +prohibited('Радиоактивный материал','radioactive')
              +prohibited('Коррозионные вещества','corrosive')
              +prohibited('Огнестрельное, газовое, пневматическое, холодное оружие всех видов','gunshot')
              +prohibited('Наркотические средства, психотропные вещества','narcotic')
              +prohibited('Драгоценные и редкоземельные металлы, драгоценные камни и изделия из них','precious')
              +prohibited('Денежные знаки и эквиваленты денежных знаков','cash')
              +prohibited('Человеческие останки','human-remains')
              +prohibited('Живые животные, охотничьи трофеи','animals')
              +prohibited('Скоропортящиеся продукты питания','perishable')

            .prohibited-goods__section#explosive
              .title.title--h2 
                span Взрывчатые 
                | вещества 
                br
                | или средства 
                span взрывания

              .prohibited-goods__items-wrap  
                each item in ['Порох в любой упаковке и в любом количестве','Патроны боевые/к газовому оружию; капсюли (пистоны) охотничьи','Тротил, динамит, тол, аммонал и другие взрывчатые вещества; капсюли, детонаторы, электродетонаторы, электровоспламенители, детонирующий и огнепроводный шнур и т.д','Сигнальные и осветительные ракеты, патроны сигнальные, посадочные шашки, дымовые патроны (шашки), спички подрывника, бенгальские огни, петарды железнодорожные']
                  .prohibited-goods__item
                    p=item
            
            .prohibited-goods__section#compressed
              .title.title--h2 
                | Сжатые, сжиженные и
                br 
                | растворенные 
                span под давлением газы

              .prohibited-goods__items-wrap  
                each item in ['Газы для бытового пользования (бутан-пропан) и другие газы;','Легковоспламеняющиеся жидкости и едкие кислоты, газовые амортизаторы','Баллоны под давлением, аэрозольные баллончики (не парфюмерия)Серная, соляная, азотная и другие кислоты','Газовые баллончики с наполнением нервнопаралитического и слезоточивого воздействия.']
                  .prohibited-goods__item
                    p=item
            
            .prohibited-goods__section#flammableliquids
              .title.title--h2 
                span Легковоспламеняющиеся 
                | жидкости

              .prohibited-goods__items-wrap  
                each item in ['Спирты, эфиры, ацетон, бензин, керосин;','Чернила, типографская краска;','Краски, лаки, клеи, политуры, шпатлевки, эмали (на основе органических растворителей);','Пробы легковоспламеняющихся нефтепродуктов.']
                  .prohibited-goods__item
                    p=item
            
            .prohibited-goods__section#flammablesolids
              .title.title--h2 
                span Легковоспламеняющиеся твердые 
                | вещества

              .prohibited-goods__items-wrap  
                each item in ['Вещества, подверженные самопроизвольному возгорани','Спички, сера, целлулоид нитронафталин','Вещества, выделяющие легковоспламеняющиеся газы при взаимодействии с водой','Белый или желтый фосфор, магнийдиамид.Карбид кальция, натрий, калий и пр.']
                  .prohibited-goods__item
                    p=item

            .prohibited-goods__section#oxidizing
              .title.title--h2 
                span Окисляющие 
                | вещества

              .prohibited-goods__items-wrap  
                each item in ['Отбеливатели и пр.','Серная, соляная, азотная и другие кислоты','Аммиачно-нитратные удобрения, аммиачная селитра, калиевая селитра','Хлорат кальция, перекись водорода, гидроперекись трет-бутила']
                  .prohibited-goods__item
                    p=item
         
            .prohibited-goods__section#toxic
              .title.title--h2 
                span Токсичные и инфекционные  
                | вещества

              .prohibited-goods__items-wrap  
                each item in ['Все соли синильной кислоты и цианистые препараты, циклон, мышьяк, и пр.','Пестициды, бруцин, никотин, стрихнин, ртуть','Любые ядовитые, сильнодействующие и отравляющие вещества в жидком или твердом состоянии, упакованные в любую тару','Пробы биологических материалов, вирусы, клинические отходы']
                  .prohibited-goods__item
                    p=item
        
            .prohibited-goods__section#radioactive
              .title.title--h2 
                span Радиоактивный 
                | материал

              .prohibited-goods__items-wrap  
                each item in ['Отходы радиоактивных материалов','Делящийся материал: Уран 233 и 235, Плутоний 239 и 241','Медицинские препараты и оборудование с применением радиоактивных элементов','Радионуклиды или изотопы медицинского и промышленного назначения, такие, как Кобальт 60, Цезий-131, Йод 132']
                  .prohibited-goods__item
                    p=item
            
            .prohibited-goods__section#corrosive
              .title.title--h2 
                span Легковоспламеняющиеся твердые
                | вещества

              .prohibited-goods__items-wrap  
                each item in ['Кислоты (соляная, серная, азотная и пр.)','Щелочи (гидроксид натрия, гидроксид калия и пр.)','Щелочные, кислотные аккумуляторы и батареи','Прочие коррозионные вещества']
                  .prohibited-goods__item
                    p=item
          
            .prohibited-goods__section#gunshot
              .title.title--h2 Огнестрельное, газовое, пневматическое, холодное 
                span оружие всех видов
              .subtitle Примечание: К оружию не относятся изделия, сертифицированные в качестве изделий хозяйственно-бытового и производственного назначения, спортивные снаряды, конструктивно сходные с оружием.
              .prohibited-goods__items-wrap  
                each item in ['Электрошоковые устройства и их имитаторы','Основные части огнестрельного оружия: ствол, затвор, барабан, рамка, ствольная коробка','Пистолеты, револьверы, винтовки, карабины и другое огнестрельное, газовое, пневматическое оружие,','Арбалеты, ружья для подводной охоты, шашки, сабли, тесаки, ятаганы, палаши, мечи, шпаги, штыки, кинжалы, кортики, стилеты, ножи']
                  .prohibited-goods__item
                    p=item
          
            .prohibited-goods__section#narcotic
              .title.title--h2 
                span Наркотические средства, психотропные 
                | вещества
              .subtitle Наркотические средства, психотропные вещества и их прекурсоры, подлежащие контролю в Российской Федерации, включены в Перечень наркотических средств, психотропных веществ и их прекурсоров, подлежащих контролю в Российской Федерации, и в зависимости от применяемых государством мер контроля вносятся в следующие списки.
              
              .prohibited-goods__items-wrap  
                each item in ['Список наркотических средств и психотропных веществ, оборот которых в РФ запрещен','Список психотропных веществ, оборот которых в РФ ограничен и в отношении которых допускается исключение некоторых мер в соответствии с законодательством РФ','Список наркотических средств и психотропных веществ, оборот которых в РФ ограничен и в отношении которых устанавливаются меры контроля в соответствии с законодательством РФ','Список прекурсоров (вещества, используемые при производстве, изготовлении наркотиков), оборот которых в РФ ограничен и в отношении которых устанавливаются меры контроля в соответствии с законодательством РФ.']
                  .prohibited-goods__item
                    p=item
            
            .prohibited-goods__section#precious
              .title.title--h2 Драгоценные и редкоземельные металлы, драгоценные камни и 
                span изделия из них

              .prohibited-goods__items-wrap  
                each item in ['изделия из них','изделия из них','изделия из них','изделия из них']
                  .prohibited-goods__item
                    p=item
            
            .prohibited-goods__section#cash
              .title.title--h2 
                span Денежные знаки и эквиваленты 
                | денежных знаков

              .prohibited-goods__items-wrap  
                each item in ['Банкноты, находящиеся в обращении','Дорожные (туристские) чеки','Ценные бумаги, акции, купоны акций и марки','Банковские и кредитные карты, готовые к использованию']
                  .prohibited-goods__item
                    p=item
          
            .prohibited-goods__section#animals
              .title.title--h2 
                span Живые животные, охотничьи  
                | трофеи

              .prohibited-goods__items-wrap  
                each item in ['Останки животных','Охотничьи трофеи','Пушно-меховое сырье, невыделанные шкуры, кожа','Живые животные, органы животных']
                  .prohibited-goods__item
                    p=item
      
            .prohibited-goods__section#human-remains
              .title.title--h2 
                span Человеческие 
                | останки
                
              .prohibited-goods__items-wrap  
                each item in ['Человеческие останки в гробах','Кремированные останки в урнах']
                  .prohibited-goods__item
                    p=item
           
            .prohibited-goods__section#perishable
              .title.title--h2 
                span Скоропортящиеся продукты 
                | питания
              
              .prohibited-goods__items-wrap  
                each item in ['Мясные и рыбные продукты','Молочные продукты','Овощи, фрукты','Хлебобулочные изделия']
                  .prohibited-goods__item
                    p=item


    include includes/seo-text
    include includes/footer

  include includes/scripts

  


  
  